<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、パスワードが変更されました。</h1>
      <p>
      平素は、NearEatsをご利用いただきありがとうございます。
      NearEatsでのパスワードが変更されました。
      your username is: <%= @user.name %>.<br>
    </p>
    <p>
      ログインするには、<%= @url %>からログインしてください。
    </p>
    <p>引き続き、NearEatsをどうぞお楽しみくださいませ。</p>
  </body>
</html>
