<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、NearEatsのメールアドレス変更を完了させましょう！</h1>
      <p>
        <%= @user.name %>様、以下のURLにアクセスして、メールアドレス変更を完了させましょう！
      </p>
    <p>
    <%= @url %>
      有効期限は<b>10分</b>です
    </p>
    <p>引き続き、NearEatsをどうぞお楽しみくださいませ。</p>
  </body>
</html>
