<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、パスワードが変更されました。</h1>
      <p>
        NearEatsへアクセスありがとうございます！
      </p>
      <p>
        <%= @url %>にアクセスしてアカウント作成を完了させましょう！！
      </p>
      <p>
        NearEatsをどうぞお楽しみくださいませ。
      </p>
  </body>
</html>
