<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>NearEatsのアカウント登録を完了させましょう！</h1>
    <p>
      <%= @user.name %>様、以下の認証コードを入力して、アカウント登録を完了させましょう！
    </p>
    <br>
      <%= @auth_code %>
    <br> <br>
    <p>
      有効期限は<b>10分</b>です
    </p>
    <br>
    <p>NearEatsをどうぞお楽しみくださいませ。</p>
  </body>
</html>
