<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>NearEatsのパスワード変更を完了させましょう！</h1>
    <p>
      <%= @resource.name %>様、以下のリンクを押下してパスワード変更を完了させましょう！
    </p>
    <p><%= link_to "パスワードを変更する", edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>
    
    <p>引き続き、NearEatsをお楽しみくださいませ。</p>
  </body>
</html>
